main{
    background: var(--bgColor, rgb(102, 102, 102));
    padding: 20px !important;
    margin-top: 79px; /* for sticky navigation bar */
    box-shadow: 3px 3px 10px 3px black;
}

main {
    border: 2px solid white;
}

main h1{
    text-align: center;
    margin-top: 0px;
}

#gameDiv canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#aboutDiv {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}