main{
    background: rgb(102, 102, 102);
    padding: 20px !important;
    margin-top: 79px; /* for sticky navigation bar */
    box-shadow: 3px 3px 10px 3px black;
    border: 2px solid white;
}

main h1{
    text-align: center;
    margin-top: 0px;
}

input{
    width: 5em;
}

.controlTable{
    background: rgb(97, 97, 97);
    border: 2px solid white;
    margin: 0px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.controlTable td{
    width: 20%;
    padding: 3px;
    text-align: center;
    border-top: 1px solid black;
}

.controlTable h3 {
    visibility: hidden;
    margin: 0px;
    color: red;
}

canvas {
    padding: 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

.canvasDiv {
    width: 100%;
    display: inline-flex;
}

.colorContainer {
    width: 100%;
    display: inline-grid;
    text-align: center;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin-bottom: 20px;
}

.colourSelector {
    margin: auto;
}

.slidecontainer {
    width: 100%; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 80%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    float: right;
}


.slider:hover {
    opacity: 1; 
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: rgb(0, 7, 100); 
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: rgb(0, 7, 100); 
    cursor: pointer; 
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

#zoomLbl {
    display: inline;
    padding-right: 50px; 
}

#resetBtn {
    width:10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 20px; 
}

#resetBtn:hover {
    background-color: rgb(88, 0, 0) !important; 
}