html {
    min-width: 200px;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
}

h1{
    text-align:center;
    font-size: 3.5em;
    line-height: 1em;
}

header div {
    padding: 10px;
    border: 6px solid white;
    background-color: black;
    box-shadow: var(--boxShadow);
    margin: auto;
    color: white;
    font-size: 1.5em;
}

@media (min-width: 900px){
    header div {
        padding: 23px;
        font-size: 2.5em !important;
    }
} 

header div h1 {
    font-size: 3em;
    margin: 0px;
    line-height: 1em;
}


.about {
    background-color: var(--bgColor, grey);
    border: var(--borderWhite);
    margin-top: 20px; 
    padding: 15px;
    box-shadow: var(--boxShadow);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr; 
}



.about h1 {
    grid-column: 1 / 3;
}

.about img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.bio {
    display: table;
    height: 100%;
}

.about p {
    font-size: 1.6em;
    line-height: 1.4em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

@media (max-width: 1200px) {
    
    .about {
        display: block;
    }

    .about img {
        padding-top: 5%;
        width: 200px;
    }
    
    .about p {
        padding-top: 5%;
        text-align: center;
    }
}


.skills {
    margin-top: 20px;
    padding: 15px;
    border: var(--borderWhite);
    background-color: var(--bgColor, grey);
    box-shadow: var(--boxShadow);
}


.projects {
    margin-top: 20px;
    padding: 15px;
    border: var(--borderWhite);
    background-color: var(--bgColor, grey);
    box-shadow: var(--boxShadow);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.projects h1 {
    grid-column: 1 / 4;
}

.projects img {
    height:auto;
    display: block;
    border: 2px solid white;
}

.projects div {
    transition-duration: 0.1s;
}

.projects div:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.1s;
    z-index: 9;
}

.projects p {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 1.6em;
}

.project {
    position: relative;
    text-align: center;
    color: white;
}

.project span {
    font-size: 3em;
    position: absolute;
    background-color: rgb(35, 38, 53);
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 4px solid white;
    top: 2px;
    left: 2px
}

@media (max-width: 1000px){
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .projects h1 {
        grid-column: 1 / 1;
    }

    .projects p {
        grid-column: 1 / 1;
    }

    
}

@media (max-width: 1230px){
    .project span {
        font-size: 2em;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}



.schooling {
    margin-top: 20px;
    padding: 15px;
    border: var(--borderWhite);
    background-color: var(--bgColor, grey);
    box-shadow: var(--boxShadow);
}

.schools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
}

.uleth, .lethCollege{
    background-color: var(--bgColor, grey);
    height: auto;
    border: var(--borderWhite);
    padding: 15px;
}

.schools h2 {
    font-size: 1.8em;
    line-height: 1.4em;
}

.schools img {
    display: block;
    margin: auto;
    width: 330px;
    height: 480px;
}

.schools ul{
    list-style-type: none;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 0;
}

@media (max-width: 1000px){
    .schools {
        grid-template-columns: 1fr;
    }

    .uleth, .lethCollege{
        margin-bottom: 10px;
    }

    .schools img {
        width: 230px;
        height: 350px;
    }
    
}

.contactMe {
    margin-top: 20px;
    padding: 15px;
    border: var(--borderWhite);
    background-color: var(--bgColor, grey);
    box-shadow: var(--boxShadow);
}

.contactMe p {
    text-align: center;
}