html {
    min-width: 200px;
}


header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/panorama.webp");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-bottom:  6px solid white;
    display: flex;
    align-items: center;
}

h1{
    text-align:center;
}

header div {
    padding: 10px;
    border: 6px solid white;
    background-color: black;
    box-shadow: 3px 3px 10px 3px black;
    margin: auto;
    color: white;
    font-size: 1.5em;
}

@media (min-width: 900px){
    header div {
        padding: 23px;
        font-size: 2.5em !important;
    }
} 

header div h1 {
    margin: 0px;
}


.about {
    background-color: rgb(97, 97, 97);
    border: 2px solid white;
    margin-top: 20px; 
    padding: 15px;
    box-shadow: 3px 3px 10px 3px black;
}

.about img {
    width: 55%;
    height: auto;
    display: block;
    margin: auto;
}

.aboutGrid {
    column-count: 2;
    display: table-cell;
    vertical-align: middle
}

.about p{
    font-size: 1.2em;
    margin-left: 5em;
    padding-top: 10px;
    padding-bottom: 0px; 
    width:70%;
}

@media (max-width: 1200px) {
    .about img {
        width: 70%;
        
    }
    .aboutGrid {
        column-count: 1;
        text-align: center;
    }

    .about p {
        
        padding-top: 20px;
        width: 90%;
        margin: auto;
    }
}




.skills {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(97, 97, 97);
    box-shadow: 3px 3px 10px 3px black;
}

.projects {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(97, 97, 97);
    box-shadow: 3px 3px 10px 3px black;
}

.projects h1 {
    margin: 0px;
}

.project {
    display: flex;
    flex-direction: column;
}
.project h2 {
    text-align: center;
}

.project p {
    margin-left: 2em;
}

.project img {
    display:block;
    margin:auto;
}


.schooling {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(97, 97, 97);
    box-shadow: 3px 3px 10px 3px black;
}

.schools {
    column-count: 2;
    text-align: center;
}

.uleth, .lethCollege{
    background-color: rgb(97, 97, 97);
    height: 800px;
    border: 2px solid white;
    padding: 15px;
}


.schools img {
    display: block;
    margin: auto;
    width: 330px;
    height: 480px;
}

.schools ul{
    list-style-type: none;
    padding: 0;
}

@media (max-width: 900px){
    .schools {
        column-count: 1;
    }

    .uleth, .lethCollege{
        margin-bottom: 10px;
    }

    .schools img {
        width: 230px;
        height: 350px;
    }
    
}

.contactMe {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(97, 97, 97);
    box-shadow: 3px 3px 10px 3px black;
}