
main {
    background-color: var(--bgColor, grey);
    border: var(--borderWhite);
    padding-bottom: 15px;
    margin-top: 70px;
}

#headers {
    text-align: center;
    font-size: 2em;
}

h1 {
    margin: 0;
    padding: 0;
}

#buttons {
    display: flex;
    justify-content: center;
}

#sudokuDiv{
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.boardEntryField {
    width: 1.7em;
    height: 1.7em;
    padding: 0em;
    border: 2px solid black;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.boarderLeft {
    border-left: 3px solid blue;
}

.boarderRight {
    border-right: 3px solid blue;
}

.boarderTop {
    border-top: 3px solid blue;

}

.boarderBottom {
    border-bottom: 3px solid blue;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.description {
    text-align: center;
}