
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/connect4">Connect 4</a></li>
    <li><a href="/gpufractal">GPU fractal</a></li>
    <li><a href="/sudokuSolver">Sudoku Solver</a></li>
</ul>

