<div class="nav">
    <a href="http://159.203.28.235:8080">Home</a>
    <a href="http://159.203.28.235:8080/connect4">Connect 4</a>
    <a href="http://159.203.28.235:8080/gpufractal">GPU fractal</a>
</div>