<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Panoramic Landscaping</title>
    <meta name="description" content="Victoria Landscaping">
    <meta name="author" content="Web Cost Digital Design">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Victoira, British Columbia, BC, Landscaping, Yardwork, Gardening">
    <script src="patrick/scripts/jquery-3.4.1.min.js"></script>
    <script src="patrick/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="patrick/scripts/cocoen.min.js"></script>
    <script src="patrick/scripts/script.js"></script>
    <link rel="stylesheet" href="patrick/css/main.css">
    <link rel="stylesheet" href="patrick/css/index.css">
    <link rel="stylesheet" href="patrick/css/cocoen.min.css" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

    <header>
        <div id="container-header">
            <div id="empty-header">
                Thanks for visiting!
            </div>
            <div id="top-header">
                <img src="patrick/images/logoTrans.webp" alt="Panoramic Logo" id='logoTrans'>
                <h2>Call <b>250-882-9073</b> for a quote today!</h2>
                <a href="#home" id="header-down-arrow"><img alt="Arrow Down Icon"
                        src="patrick/images/Down-Arrow-Transparent-Image.webp"></a>
            </div>
            <div class="container">
                
                <div id="bottom-header">
                    <h4>
                        <a href="#home" class="bottom-header-link">Lawn Maintenance</a> ●
                        <a href="#home" class="bottom-header-link">Garden Maintenance</a> ●
                        <a href="#home" class="bottom-header-link">Spring Clean Up</a> ●
                        <a href="#home" class="bottom-header-link">Fall Clean Up</a> ●
                        <a href="#home" class="bottom-header-link">Hauling</a> ●
                        <a href="#home" class="bottom-header-link">Mulching</a>
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-md"
        style="z-index: 9998; background-color: #033c0d; border-top: 5px solid #126938;">
        <a class="navbar-brand" href="#">
            <span style="padding-right:3px; display:inline-block;">
                <img src="patrick/images/icon.webp" alt="Panoramic Icon" style="width: 30px;"></img>
            </span>
            Panoramic Landscaping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#service-list">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>

            </ul>
        </div>
    </nav>      
    <main class="container">
        <h1>What Panoramic Landscaping can do for you.</h1>
        <div id="service-list">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lawn Maintenance</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration & Price Varies</h6>
                    <ul class="list-group">
                        <li id="11" class="list-group-item active">Lawn Cuts</li>
                        <li id="12" class="list-group-item">Sod Installation</li>
                        <li id="13" class="list-group-item">Aerating</li>
                        <li id="14" class="list-group-item">Dethatching</li>
                        <li id="15" class="list-group-item">Fertilizing</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Garden Maintenance</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration & Price Varies</h6>
                    <ul class="list-group">
                        <li id="21" class="list-group-item active">Garden Bed Installation</li>
                        <li id="22" class="list-group-item">Weeding</li>
                        <li id="23" class="list-group-item">Pruning</li>
                        <li id="24" class="list-group-item">Shrub Trimming</li>
                        <li id="25" class="list-group-item">Planting & Transplanting</li>
                        <li id="26" class="list-group-item">Soil Amendment</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Spring Clean Up</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration & Price Varies</h6>
                    <ul class="list-group">
                        <li id="31" class="list-group-item active">Shrub & Hedge Trimming</li>
                        <li id="32" class="list-group-item">Fruit Tree Pruning</li>
                        <li id="33" class="list-group-item">Weeding</li>
                        <li id="34" class="list-group-item">Mulch Installation</li>
                        <li id="35" class="list-group-item">Pressure Washing</li>
                        <li id="36" class="list-group-item">Moss Removal</li>
                        <li id="37" class="list-group-item">360° Property Clean Up</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Fall Clean Up</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration & Price Varies</h6>
                    <ul class="list-group">
                        <li id="41" class="list-group-item active">Leaf Clean Ups</li>
                        <li id="42" class="list-group-item">Waste Removal</li>
                        <li id="43" class="list-group-item">Garden Beds Winterized</li>
                        <li id="44" class="list-group-item">Gutter Cleaning</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Delivering & Hauling </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration & Price Varies</h6>
                    <ul class="list-group">
                        <li id="51" class="list-group-item active">Delivering & Hauling</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mulching </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Duration & Price Varies</h6>
                    <ul class="list-group">
                        <li id="61" class="list-group-item active">Mulching</li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
        <h1 id="gallery">Gallery</h1>
        <div class="gallery-container">
            <div class="image-pair row-first">
                <img src="patrick/images/gardenBefore.webp">
                <img src="patrick/images/gardenAfter.webp">
            </div>
            <div class="image-pair row-center">
                <img src="patrick/images/lawnGrassBefore.webp">
                <img src="patrick/images/lawnGrassAfter.webp">
            </div>
            <div class="image-pair row-center">
                <img src="patrick/images/pathBefore.webp">
                <img src="patrick/images/pathAfter.webp">
            </div>
            <div class="image-pair row-last">
                <img src="patrick/images/leavesBefore.webp">
                <img src="patrick/images/leavesAfter.webp">
            </div>
            <div class="gallery-pair cocoen ">
                <img src="patrick/images/gardenBefore.webp">
                <img src="patrick/images/gardenAfter.webp">
            </div>
        </div>
        <section id="contact">
            <h1>Contact panoramic landscaping</h1>
            <form>
                <label for="contact-name">Name</label><input type="text" class="form-control" id="contact-name"
                    name="contact-name">
                <label for="contact-phone">Phone Number</label><input type="tel" class="form-control" id="contact-phone"
                    placeholder="1-(555)-555-5555" name="contact-phone">
                <label for="contact-email">Email</label><input type="email" class="form-control" id="contact-email"
                    placeholder="abc@email.com" name="contact-email">
                <label for="contact-message">Message</label><textarea rows="5" class="form-control" cols="33"
                    placeholder="Send us a message." id="contact-message" name="contact-message"></textarea>
                <input type="submit" class="btn btn-primary" id="contact-submit" name="contact-submit">
            </form>
        </section>
        <section id="about">
            <h1>About Panoramic Landscaping</h1>
            <img src="patrick/images/74616380-the-confident-landscaper.webp" alt="Group photo of Patrick"
                style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
            <p style="text-align: center;">
                At Panoramic Landscaping we are committed to creating an enviroment that relaxes and stimulates you.
            </p>
        </section>

        <div class="modal fade" id="serviceModal" data-toggle="modal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        Modal body..
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <address>
            How you can contact Panoramic Landscaping. <br>
            By phone at 1-(123)-456-9871 Hours 5PM-9PM PST.<br>
            By email at <a href="mailto:panoramic-landscaping@hotmail.com">panoramic-landscaping@hotmail.com</a><br>
        </address>
    </footer>
    <body>
        <div id="contact-form">
            <form action="" class="form-container " style="display: none;">
                <label for="contact-name">Name</label>
                <input type="text" class="form-control" id="contact-name" name="contact-name">
                <label for="contact-phone">Phone Number</label>
                <input type="tel" class="form-control" id="contact-phone" placeholder="1-(555)-555-5555" name="contact-phone">
                <label for="contact-email">Email</label>
                <input type="email" class="form-control" id="contact-email" placeholder="abc@email.com" name="contact-email">
                <label for="contact-message">Message</label>
                <textarea rows="5" class="form-control" cols="33" placeholder="Send us a message." id="contact-message" name="contact-message"></textarea>
                <input type="submit" class="btn btn-primary" id="contact-submit" name="contact-submit">
            </form>
            <button type="button" id="toggle-contact-btn" class="btn open-form-btn-hvr" onclick="toggleContactForm()">Contact Us For a Quote</button>
          </div>
    </body>
</body>

</html>