<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script src="scripts/jslib/gpu.js"></script>
        <script src="scripts/jslib/js.cookie-2.2.0.js"></script>
        <script src="scripts/jslib/colorjoe.js"></script>
        <script src="scripts/GPUFractal/fractal.js"></script>
        <link rel="stylesheet" href="css/fractalStyle.css">
        <link rel="stylesheet" href="css/colorjoe.css">
    </head>
    <body onload="load()">
        <nav class="sticky">
            <% include ../partials/nav %>
        </nav>

        <main> 
            <h1>Real Time GPU Fractal Renderer</h1> 
            <table class="controlTable">
                <tr>
                    <td>Resolution</td>
                    <td><input id="resolution" type="number" min="10" max = "3500" value="480" onchange="reloadToApply()"></td>
                </tr>
                <tr>
                    <td>Max Iterations</td>
                    <td><input id="maxIterations" type="number" min="0"  step="any" value="30" onchange="reloadToApply()"></td>
                </tr>
                <tr>
                    <td><h3 id="reloadLbl">Reload to apply changes</h3></td>
                    <td><button onclick="reload()">Reload</button></td>
                </tr>
                <tr>
                    <td>Center cords</td>
                    <td>
                        <span>X </span><input id="xCord" type="number" min="-4" max="4" value="0" step="0.01">
                        <span>Y </span><input id="yCord" type="number" min="-4" max ="4" value="0" step="0.01">
                    </td>
                </tr>
                <tr>
                    <td>Exponential power</td>
                    <td><input id="power" type="number" value="2" step="any"></td>
                </tr>
                <tr>
                    <td>Mouse tracking</td>
                    <td><input id="mouseTrack" type="checkBox" checked="true"></td>
                </tr>
            </table>
             
            <div class="colorContainer">
                <div>
                    <h2>Inner colour</h1>
                    <div id="innerColorSelector" class="colourSelector"></div>
                </div>
                
                <div>
                    <h2>Outer colour</h1>
                    <div id="outerColorSelector" class="colourSelector"></div>
                </div>
                
                <div><span>Smoothing</span><input id="smoothingInToggle" type="checkbox"></div>
                <div><span>Smoothing</span><input id="smoothingOutToggle" type="checkbox"></div>
            </div>
           

            <div class="slideContainer">
                    <h2 id="zoomLbl">Zoom</h2>
                    <input id="sizeText"  type="number"  value="4" step="any">
                    <input id="zoomSlider" class="slider" type="range" min="1" max="11" value="1" step="0.01">
                    <div class="clearfix"></div>
            </div>

            <div class="about">
                <h2>About</h2>
                <hr>
                <p>
                    This fractal generator creates the <a href="https://en.wikipedia.org/wiki/Mandelbrot_set" target="_blank">Mandelbrot</a> (without mouse tracking) 
                    and <a href="https://en.wikipedia.org/wiki/Julia_set" target="_blank">Julia</a> (with mouse tracking) set fractals.<br>
                    The Mandelbrot set uses the formula f(z) = z^2 + c and by changing portions of the formula you can generate different fractals.<br>
                    The tutorial I used to create this generator can be found <a href="http://warp.povusers.org/Mandelbrot/" target="_blank">here</a>.
                </p>
                <p>
                    <a href="http://gpu.rocks/" target="_blank">GPU.js</a> is used to harness the gpu and display to the browser.<br>
                    <a href="https://github.com/bebraw/colorjoe" target="_blank">Colorjoe</a> is used to create the color selectors.
                </p>
            </div>

            <button id="resetBtn" onclick="resetToDefault()">Reset To Default</button>
            
            <button id="hideBtn" onclick="hide()">Hide</button>
        </main>

        <div id="fractal" class="canvasDiv"></div>


    </body>
</html>