<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body>
        <nav>
            <% include ../partials/nav %>
        </nav>
        
        <header>
            <div>
                <h1>Reed Hambrook</h1>
            </div>
        </header>

        <main> 
            <div class="about">
                <h1>About Me</h1>
                <img src="images/reed.jpg">
                <p>My name is Reed Hambrook i grew up in Alberta Canada and started programing in javascript at 16. I went to Lethbridge college in 2014 for computer information technology.<br> After finishing 
                    and receiving my diploma i enrolled in the post-diploma computer science program at the University of Lethbridge in 2016 and received my degree in 2018.<br> I love to create and this has lead 
                    to take interest pottery and guitar as well as software development.</p>
            </div>

            <div class="skills">
                <h1>Skills</h1>
                <div class="skillGrid">
                    <text>Html 5</text>
                    <text>JavaScript</text>
                </div>
                
            </div>


            <div class="projects">
                <h1>Projects</h1>
                <div class="project">
                    <h2>Place Holder Project Title</h2>
                    <img src="http://via.placeholder.com/1000x500">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam totam quia excepturi illo error 
                        iste dolor fuga unde doloribus amet deleniti optio, cumque ipsa voluptatem ipsam maxime, adipisci enim facilis.
                    </p>
                </div>
            </div>

            <div class="schooling">
                <h1>Higher Education</h1>
                <div class="schools">
                    <div class="uleth"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quia, vitae sed est ipsa eveniet rerum harum cum obcaecati dignissimos placeat quo mollitia facere animi sit in minima ullam quidem!</p></div>
                    <div class="lethCollege"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minus nisi accusamus. Laboriosam id optio animi ea neque incidunt nam consequatur, ducimus reiciendis molestias quidem corporis nemo voluptatibus ad debitis.</p></div>
                </div>
            </div>

            <div class="contactMe">
                <h1>Contact Me</h1>
            </div>
        </main>

        <footer>
            <%include ../partials/footer %>
        </footer>

    </body>
</html>