<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body>
        <header>
            <div>
                <h1>Reed Hambrook</h1>
            </div>
        </header>
        <nav>
            <% include ../partials/nav %>
        </nav>
        
        <main> 
            <div class="about">
                <h1>About Me</h1>
                <img src="images/reed.jpg">
                <div class="bio">
                    <p>My name is Reed Hambrook i grew up in Alberta Canada and started programing in javascript at 16. I went to Lethbridge college in 2014 for computer information technology. After finishing 
                        and receiving my diploma I enrolled in the post-diploma computer science program at the University of Lethbridge in 2016 and received my degree in 2018. I love to create and this has lead 
                        to take interest pottery and guitar as well as software development.</p>
                </div>
            </div>

            <div class="projects">
                <h1>Projects</h1>
                <div class="project">
                    <a href="/connect4" ><img class="project" src="images/connect4.png"></a>
                    <span>Connect 4</span>
                </div>
                <div class="project">
                    <a href="/gpufractal" ><img class="project" src="images/fractal.png"></a>
                    <span>GUP Fractal</span>
                </div>
                <div class="project"><a href="" ><img class="project" src="images/sudoku.png"></a>
                    <span>Sudoku Solver</span>
                </div>
                <p>For other non web based projects check out my <a href="https://github.com/reedham" target="_blank">git hub</a></p>
            </div>

            <div class="schooling">
                <h1>Higher Education</h1>
                <div class="schools">
                    <div class="lethCollege">
                        <img src="images/College-Crest-Colour.png">
                        <h2>Computer Information Technology Diploma (2016)</h2>
                        <h2>Topics</h2>
                        <ul>
                            <li>C programing</li>
                            <li>C++/Java Object Oriented programing</li>
                            <li>HTML/Javascript development</li>
                            <li>Systems Analysis and Design</li>
                            <li>Interface/UX Design</li>
                            <li>Database Design</li>
                            <li>Server Administration</li>
                            <li>Business Communication</li>
                            <li>Marketing</li>
                        </ul>
                    </div>
                    <div class="uleth">
                        <img src="images/University_of_lethbridge_logo.png"> 
                        <h2>Post-Diploma Bachelors of Computer Science (2018)</h2>
                        <h2>Topics</h2>
                        <ul>
                            <li>Software Engineering</li>
                            <li>Human Computer Interaction</li>
                            <li>Artificial Intelligence</li>
                            <li>Design Thinking and Creativity</li>
                            <li>Networking</li>
                            <li>Algorithm Design</li>
                            <li>Data Mining</li>
                            <li>Advanced Database Design</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contactMe">
                <h1>Contact Me</h1>
            </div>
        </main>

        <footer>
            <%include ../partials/footer %>
        </footer>

    </body>
</html>